@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");

html,
body {
  font-family: "Manrope", sans-serif;
}

.bg-image {
  position: relative;
  top: 20px;
  left: 80px;
  width: 1000px;
}
.btn-default {
  position: relative;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  background: rgba(255, 208, 53, 0.75);
  cursor: pointer;
}

.emoji-size {
  width: 30px;
  background-image: linear-gradient(
    120deg,
    rgba(255, 208, 53, 0.75) 0%,
    rgb(249, 233, 95) 100.2%
  );
  border-radius: 25px;
  cursor: pointer;
}

.topSide {
  position: relative;
  bottom: 400px;
}

.jkText {
  left: 420px;
}

.mini-blob-1 {
  position: absolute;
  bottom: 200px;
  right: 1300px;
  width: 20%;
}

.mini-blob-2 {
  position:absolute;
  bottom: 750px;
  left: 1300px;
  width: 20%;
}

#weather {
  position: relative;
  top: 6px;
}

#hideDiv {
  display: none;
}

#despejado {
  display: none;
  width: 60px;
}
#pocoNuboso {
  display: none;
  width: 60px;
}
#cubierto {
  display: none;
  width: 60px;
}
#lluvia {
  display: none;
  width: 60px;
}
#niebla {
  display: none;
  width: 60px;
}
